.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	display:none;
	color: #fff;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top:5px; left: 5px;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	z-index: 12;
	@include transition( $smallNavDuration all $smallNavEasing 0s );
	text-transform: uppercase;
	
	.show-nav & { top: 5px; }
	.small-nav & { top:18px; }
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
			.show-nav & { border-top-color: #fff; }
		}
	}
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { border-top-color: $primaryColor !important; left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				@include transform( rotate3d(0,0,1,-45deg) ); 
			}
		}
		
	}
	
}

.nav { 
	@include transform( translateZ(0) );
	position: fixed;
	top:0; left:0; right:0;
	z-index: 10;
	background: #fff;
	
	.sw {
		@include display( flex );
		@include justify-content( flex-end );
	}
	
}

nav {
	ul { @include display( flex ); }
	a { 
		@include nav-line-height();
		display: block;
		padding: 0 14px;
		color: $secondaryColor;
		font-size: 14px;
		text-transform: uppercase;
		
		&:hover {
			background: $primaryColor;
			color: #fff;
		}
	}
}

.nav-meta {
	@include display( flex );
	.t-fa-abs {
		@include nav-line-height();
		color: #fff;
		background: $primaryColor;
		font-size: 20px;
		width: 42px;
		outline: none;
		&:hover { background: $secondaryColor; }
	}
}

@media screen and (min-width: $collapseNavAt) {

	.nav-search-form {
		position: absolute;
		border: none !important;
		.fieldset { display: none !important; }
		input {
			color: #fff;
			font-size: 20px;
			padding: 0 20px !important;
			line-height: 1 !important;
			@include my-placeholder { color: #fff; }
		}
	}

	.show-search {

		.nav {
			z-index: 20;
		}

		.nav-search-form {
			position: absolute;
			z-index: 100;
			background: $primaryColor;
			top:0; left:0; right:0; bottom:0;
			padding-left: 42px;
			.fieldset { @include display( flex !important ); }
			
			.toggle-search { 
				position: absolute;
				top:0; left:0;
			}
		}
	}

}

/* small nav */
@media screen and (max-width: $smallNavAt) {

	$smallNavOffset: 50px;

	header,
	.nav { @include transition( 0.2s all $ease-in-out-sine ); }
	.small-nav { 
		header,
		.nav { @include transform( translate3d(0, -$smallNavOffset, 0) ); }
	}
	
	header { 
		text-align:center;
		top:5px;
	}
	.header-logo {
		display: inline-block;
		position: static;
	}
	
	.nav {
		padding-top: $smallNavOffset;
		.sw { @include justify-content( space-between ); }
	}
	
	
}

.mobile-nav-bg { display: none; }

@media screen and (max-width: $collapseNavAt) {

	$collapsedNavWidth: 290px;
	
	.mobile-nav-bg {
		@include transform( translateZ(0) );
		@include transition( all 0.4s $ease-in-out-sine );
		width: 100vw;
		height: 10000px;
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		top: 0; left: 0;
		z-index: -1;
		display: block;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;		
		.show-nav & {
			opacity: 1;
			visibility: visible;
			z-index: 21;
			cursor: pointer; 
		}
	}

	.toggle-nav { display: block; }

	.page-wrapper { z-index: 2; }
	
	.nav {
		position: fixed;
		top:0; left:0; 
		height: 100vh;
		overflow-y: scroll;
		z-index: 1;
		width: $collapsedNavWidth;
		.sw { display: block; }
		.nav-meta .toggle-search { display: none; }
	}
	
	nav {
		ul {
			display: block;
		}
	}
	
	.nav-meta {
		display: block;
	}
	
	header,
	.page-wrapper { @include transition( 0.4s all $ease-in-out-sine ); }
	
	.show-nav  {
		body { height: 100vh; overflow: hidden; }
		
		header,
		.page-wrapper { @include transform( translate3d( $collapsedNavWidth, 0, 0 ) ); }
	}
	
	.nav {
		.nav-search-form {
			.toggle-search { display: none; }
			.t-fa-abs { line-height: 32px; }
		}
		
		.nav-meta {
			.fa-phone {
				text-indent:0;
				text-align:center;
				width: auto;
				background: $primaryColor;
				&:before {
					@include transform( none );
					position: static;
					margin: 0 10px 0 0;
					vertical-align: bottom;
				}
			}
		}
	}
}