$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	
	.sw {
		padding: 20px 0;
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
	img { width: 100%; }
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

/* theme specific footer rules */
.footer-row {
	@include display( flex );
	@include align-items( center );
}

.footer-contact {
	@include flex( 1 1 auto );

	span {
		display: inline-block;
		vertical-align: middle;
		padding-left: 8px;
		line-height: 1;
		margin-left: 5px;
		border-left: 1px solid #fff;
	}

	address {
		display: inline-block;
		vertical-align: middle;
	}
}

.footer-nav,
.footer-social {
	@include flex( 0 0 auto );
}

.footer-nav {
	margin-right: 10px;
	ul { @include display( flex ); }
	a {
		line-height: $navTopHeight;
		display: block;
		padding: 0 12px;
		text-transform: uppercase;
		&:hover { background: $secondaryColor; }
	}
}

.copyright {
	text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
	.footer-row {
		display: block;
		padding: 25px 0;
		text-align:center;
	}
	
	.footer-nav ul,
	.footer-social .social {
		@include justify-content( center );
		margin: 20px 0;
	}
	
	.footer-nav a {
		line-height: 1;
		padding: 14px 20px;
	}
}

@media screen and (max-width: 650px) {
	.footer-contact span {
		display: block;
		padding: 10px 0 0;
		margin: 0;
		border: none;
	}
	
	.footer-nav ul { display: block; }
}