.primary-bg { background: $primaryColor; }
.secondary-bg { background: $secondaryColor; }

/* modules */
@import "site/split_block";

.tooltipster-base { 
	background: $primaryColor !important;
	border: none !important;
}

.tooltipster-arrow-span {
	background: $primaryColor !important;
}

.tooltipster-arrow-border { display: none !important; }

/* section excerpt */
.section-excerpt {
	max-width: 650px;
	margin: 0 auto;
	text-align:center;
	
	.more {
		@include link-transition();
		color: #fff;
		font-size: 32px;
		display: inline-block;
		width: 44px; height: 44px;
		margin-top: 15px;
		&:hover { color: $secondaryColor; }
	}
}

.section-excerpt-title {
	font-size: 42px;
}

/* overview grid */
.ov-grid {	
	
	border-bottom: 1px solid #fff;
	
	.col { position: relative; }
	
	&.two-up {
	
		.col {
			@include flex( 1 0 50% );
			width: 50%;
			
			&:nth-child(odd) { 
				&:after {
					content:"";
					position: absolute;
					top:0; right:0; bottom:0;
					border-right: 1px solid #fff; 
				}				
			}
			
		}
	
	}
	
	&.three-up {
	
		.col {
			@include flex( 1 0 33.33333% );
			width: 33.33333%;
			
			&:after {
				content:"";
				position: absolute;
				top:0; right:0; bottom:0;
				border-right: 1px solid #fff; 
			}
			
			&:nth-child(3n+3) { &:after { display: none; } }
		}
	
	}

}

a.ov-item:hover {
	.ov-item-title,
	.ov-item-subtitle { color: #fff; }
}

.ov-item {
	position: relative;
	border: 0 solid #fff;
	border-width: 1px 0;
	margin-bottom: -1px;
	height: 100vh;
	max-height: 500px;
	display: block;
	
	&:before {
		@include linear-gradient( to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.8) 100% );
		content: "";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}

}

.ov-item-bg {
	position: absolute;
	top:0; left:0; right:0; bottom:0;
	z-index: -1;
}

.ov-item-content {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	z-index: 2;
	padding: 20px;
	color: #fff;
	
	time {
		display: block;
		margin: 10px 0;
		padding-top: 5px;
		border-top: 1px solid #fff;
	}
	
	hr {
		margin: 8px 0;
		border-color: #fff;
	}
	
	&.with-excerpt {
		display: table;
		
		.ov-item-title {
			display: table-cell;
			width: 20%;
			min-width: 200px;
			padding-right: 20px;
			border-right: 1px solid #fff;
			&:hover { color: #fff; }
		}
		
	}
	
	.ov-item-excerpt {
		padding-left: 20px;
		display: table-cell;
	}
	
	.ov-item-excerpt-meta {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #fff;
		position: relative;
		
		.more {
			position: absolute;
			color: $primaryColor;
			font-size: 32px;
			top: 0; right:0;
			width:44px; height: 44px;
			&:hover { color: #fff; }
		}
	}
	
	@media screen and (max-width: 600px) {
		
		&.with-excerpt {
		
			&,
			.ov-item-title,
			.ov-item-excerpt { display: block; }
			
			.ov-item-title { 
				width: auto;
				padding:0;
				border: none;
			}
			
			.ov-item-excerpt {
				padding:0;
				p { display: none; }
			}
			
		}
	}
	
	
}

.ov-item-title,
.ov-item-subtitle {
	@include link-transition();
	color: $primaryColor; 
	display: block; 
	font-weight: 600;
}

.ov-item-title { 
	font-size: 32px;
}

.ov-item-subtitle { 
	font-size: 24px;
}

.ov-grid {

	@media screen and (max-width: 950px) {	
		&.two-up {
			display: block;
			.col { 
				width: auto;
				&:after { display: none; }
			}
		}
		
		&.three-up {
			.col {
				@include flex( 1 0 50% );
				width: 50%;
				&:after { display: none; }
			}
		}
	}
	
	@media screen and (max-width: 650px) {
		&.two-up {
			.ov-item-content:not(.with-excerpt) {
				p { display: none; }
			}
		}
		
		&.three-up {
			display: block;
			.col { width: auto; }
		}
	}
	
}

.filter-bar {
	border-top: 1px solid #fff;
	
	.selector {
		.value {  padding: 5px; }
		&:after { border: none; }
	}
	
	.filter-bar-buttons { 
		margin-left: 10px; 
		position: relative;
		top: -3px;
	}
	
	.filter-bar-button { 
		color: #fff; 
		display: inline-block;
		vertical-align: middle;
		padding: 4px 8px;
		&:hover {
			background: rgba(0,0,0,0.2);
		}
	}
	
	@media screen and (max-width: 600px) {

		.filter-bar-content,
		.filter-bar-buttons,
		.filter-bar-button {
			display: block;
		}
		
		.filter-bar-button {
			margin: 4px auto;
		}
		
		.filter-bar-buttons {
			margin:0;
			text-align:center;
			position: static;
			padding: 8px;
		}
		
		.single-form { display: none !important; }
	}
	
}

/* blog */
.article-head {
	color: $primaryColor;
	margin: 0 0 16px;
	padding: 0 0 16px;
	border-bottom: 1px solid $primaryColor;
	
	
	.t-fa {
		margin-right: 12px;
		display: inline-block;
		&:before { margin-right: 4px; }
	}
}

.breadcrumbs {
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sidebar {
	
	.mod-title {
		color: $lightColor;
		background: $secondaryColor;
		text-transform: uppercase;
		margin:0;
		padding: 14px;
	}
	
	.acc-mod {
		.count {
			display: inline-block;
			min-width: 30px; height: 30px; line-height: 30px;
			padding: 0 8px;
			border-radius: 15px;
			margin-right: 8px;
			text-align:center;
			color: $accHandleBGColor;
			background: $accHandleColor;
		}
	}
	
}

.body .social {
	margin: 10px 0 0;
	a {
		background: $secondaryColor;
		&:hover { background: $primaryColor; }
	}
}

.address-business-grid {
	@include display( flex );
	@include flex-flow( row wrap );
	
	&>div {
		width: 300px;
		padding: 15px;
	}
	
	
	@media screen and (max-width: $splitBlockCollapse) {
		.split-block & {
			text-align:center;
			
			&,
			.social {
				@include justify-content( center );
			}
			
		}
	}
}

/* map */
.map-wrap {
	height: 70vh;
	max-height: 500px;
	min-height: 300px;
	position: relative;
	iframe {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		width: 100%; height: 100%;
	}

}

/* trainer */
.trainer-hero {
	@include display( flex );
	position: relative;
	padding-top: $navTopHeight;
	
	@media screen and (max-height: $smallNavHeight) and (min-width: $smallNavAt) {
		padding-top: $smallNavTopHeight;
	}
	
	@media screen and (max-height: $smallNavHeight) and (max-width: $smallNavAt) and (min-width: $collapseNavAt) {
		padding-top: 100px;
	}
	
	@media screen and (min-height: $smallNavHeight) and (max-width: $smallNavAt) and (min-width: $collapseNavAt) {
		padding-top: 135px;
	}
	
	@media screen and (max-width: $collapseNavAt) {
		padding-top: $smallNavTopHeight;
	}
}

.trainer-bio-wrap,
.trainer-gallery-wrap { 
	@include flex( 0 0 50% );
	width: 50%; 
}

.trainer-bio {
	padding: 20px;
	max-width: 650px;

	.hgroup-title,
	.hgroup-subtitle { color: $primaryColor; }
	
}

.trainer-gallery-wrap {
	position: relative;
	margin-bottom: 50px;
	
	.trainer-gallery-main { 
		position: absolute;
		top:0; left:0; bottom: 0; right: 30%;
	}
	
	.trainer-gallery-thumb {
		position: absolute;
		left: 70%; right:0; top:0; bottom:0;
		
		&.thumb-one { bottom: 50%; }
		&.thumb-two { top: 50%; }
	}
	
	@media screen and (max-width: 1100px) {
		.trainer-gallery-main { right:0; }
		.trainer-gallery-thumb { display: none; }
	}
}

@media screen and (max-width: 850px) {
	.trainer-hero { display: block; }
	.trainer-gallery { display: none; }
	
	.trainer-bio-wrap,
	.trainer-gallery-wrap { width: auto; }
}

.trainer-contact-bar {
	position: absolute;
	bottom:-50px; left:0; right:0;
	height: 50px;
	background: $primaryColor;
}

.trainer-contact-book {
	position: absolute;
	top:0; left:0; right: 30%; bottom:0;
	height: 50px;
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-align:center;
	line-height: 50px;
	
	&:hover {
		background: $secondaryColor;
	}
}

.trainer-social {

	position: absolute;
	top:0; left: 70%; right: 0; bottom:0;

	.social {
		@include justify-content( center );
		@include align-items( center );
		width: 100%;
		height: 50px;
	}
}

.img-section {
	height: 50vh;
	max-height: 300px;
	position: relative;
	.lazybg { 
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}
	
	@media screen and (max-width: 600px) {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.book-appointment {
		display: table;
		width: 100%;
		
		&>div { 
			display: table-cell;
			vertical-align: middle;
		}
		
		input {
			display: inline-block !important;
			width: auto !important;
			margin: 0 8px !important;
			padding: 10px !important;
		}
	}

	.book-appointment-title {
		width:360px;
		padding-right: 10px;
	}
	
	.book-appointment-fields {
		text-align:center;
	}
}

.service-item {
	.t-fa-abs {
		color: $primaryColor;
		font-size: 42px;
		margin: 0 auto 15px;
		width: 70px; height: 70px;
		line-height: 70px;
		border-radius: 35px;
		border: 1px solid $primaryColor;
	}
}

.service-title { color: $primaryColor !important; }